@font-face {
    font-family: 'vt';
    src: url('fonts/VT323-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(2,9,101,1) 52%, rgba(3,19,208,1) 100%);
    background-attachment: fixed;
    overflow-y: auto;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(2,9,101,1) 52%, rgba(3,19,208,1) 100%);
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 35px;
    width: 60%;
    flex-shrink: 0; /* flex-shrink fixe la taille du container comme elle est */
}

header {
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.title-home {
    font-family: 'vt';
    font-size: 60px;
    color: #fff;
    margin-bottom: 50px;
}

#searchForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

label {
    font-size: 30px;
    color: #fff;
}

input[type="text"] {
    padding: 8px;
    border: 5px solid #ccc;
    border-radius: 12px;
    width: 100%;
    max-width: 550px;
    outline: none;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.btn1 {
    padding: 16px 42px; 
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    margin: auto;
}

.span-rta {
    display: inline-block;
    width: 100%;
    font-size: 25px;
}

.btn1:hover .span-rta {
    animation: rotation .5s forwards ease-in-out;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}

.movie-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 800px;
    margin-top: 30px;
}
  
  
.movie-card {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.movie-poster {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.movie-details {
  padding: 10px;
}

.movie-title {
  font-size: 20px;
  margin-bottom: 5px;
}

.movie-year {
  font-size: 14px;
  color: #888;
  margin-bottom: 5px;
}

.movie-plot {
  font-size: 14px;
  margin-bottom: 10px;
}

.read-more {
  display: block;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}

.read-more:hover {
  background-color: #0056b3;
}
